<article *ngFor="let pysakki of reitit">

    <h1 class="mat-title">{{pysakki.name}}</h1>

    <div fxLayout="row">
        <div fxFlex="30">

            <ul>
                <span *ngFor="let reitti of pysakki.patterns">
                    <h3 class="mat-header-cell">{{ reitti.route.shortName }}</h3>
                    <p [class]="reitti.directionId | routeDirection"> {{reitti.directionId | routeDirection}}</p>
                    <p class="longName">{{reitti.route.longName}}</p>
                </span>
            </ul>
        </div>

        <div fxFlex>
            <agm-map [latitude]="pysakki.lat" [longitude]="pysakki.lon" [zoom]="15" style="height: 300px">
                <agm-marker [latitude]="pysakki.lat" [longitude]="pysakki.lon"></agm-marker>
            </agm-map>
        </div>
    </div>
</article>